<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
    </head>
    
    <body>
        <h1>we'll be back
        </h1>
       <p>It will work</p>
    </body>
         
</html>